[Unit]
Description=A python script that make shit goes BOOM

[Service]
WorkingDirectory=/home/fatty/sleep-sound
ExecStart=python3 /home/fatty/sleep-sound/sleep_sound.py -f
Restart=always
User=fatty

[Install]
Alias=boom.service
WantedBy=multi-user.target
