[Unit]
Description=A python script that make shit goes BOOM

[Service]
WorkingDirectory=/home/pi/boom
ExecStart=python3 /home/pi/boom/sleep_sound.py 0
Restart=on-failure
User=pi

[Install]
Alias=boom
WantedBy=multi-user.target