[Unit]
Description=A python script that make shit goes BOOM

[Service]
WorkingDirectory=/home/pi/boom
ExecStart=python3 /home/pi/boom/sleep_sound.py
Restart=always
User=pi

[Install]
Alias=boom.service
WantedBy=multi-user.target